@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #020001;
  --green: #27b058;
  --gray: #f6f6f6;
  /* --gray: #fffbf5; */
}

@utility container {
  padding: 1rem;
  margin-inline: auto;
}

@theme inline {
  --color-white: var(--background);
  --color-black: var(--foreground);
  --color-blue: var(--blue);
  --color-green: var(--green);
  --color-gray: var(--gray);
  --font-plus: var(--font-plus-carmen);
}

body {
  /* background: var(--background); */
  /* color: var(--foreground); */
  font-family: "Carmen Sans", sans-serif;
  scroll-behavior: smooth;
}
