@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #020001;
  --green: #27b058;
  --gray: #f6f6f6;
  /* --gray: #fffbf5; */
}

@utility container {
  padding: 1rem;
  margin-inline: auto;
}

@theme inline {
  --color-white: var(--background);
  --color-black: var(--foreground);
  --color-blue: var(--blue);
  --color-green: var(--green);
  --color-gray: var(--gray);
  --font-plus: var(--font-plus-carmen);
}

body {
  font-family: "Carmen Sans", sans-serif;
  scroll-behavior: smooth;
}

.tape {
  width: 200px;
  margin: 20px auto;
  position: relative;
  padding: 2px;
  background: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.7);
}

.tape img {
  width: 100%;
  display: block;
}

.tape:before {
  display: block;
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  width: 100px;
  height: 20px;
  margin-left: -50px;
  background: rgba(255, 255, 255, 0.6);
}